@charset "UTF-8";
* {
  border: 0;
  margin: 0;
  box-sizing: border-box; }

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(#5bb597, #1a4066);
  font-family: Georgia, serif;
  color: white; }

.location-section {
  width: 50%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .location-section .location-name {
    font-size: 2rem;
    cursor: pointer; }

.weather-section {
  width: 50%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }
  .weather-section .parameters-wrapping {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .weather-section .parameters-wrapping div {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin: 1rem; }
      .weather-section .parameters-wrapping div .parameter {
        margin-right: 0.5rem;
        font-size: 3rem; }
      .weather-section .parameters-wrapping div .unit {
        font-size: 1.5rem; }

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
  .modal form {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .modal form input {
      width: 100%;
      height: 42px;
      padding-left: 10px;
      border: 2px solid #7BA7AB;
      border-radius: 5px;
      outline: none;
      background: #F9F0DA;
      color: #9E9C9C; }
    .modal form .search-button {
      position: absolute;
      top: 0;
      right: 0px;
      width: 42px;
      height: 42px;
      border: none;
      background: #7BA7AB;
      background-image: url("/img/search-icon.png");
      background-size: 40px;
      border-radius: 0 5px 5px 0;
      cursor: pointer; }
    .modal form .cancel-button {
      padding: 5px;
      margin: 5px;
      font-size: medium;
      border: 2px solid #7BA7AB;
      border-radius: 5px;
      background: #7BA7AB;
      cursor: pointer; }

.active {
  display: block; }

.disable {
  display: none; }

.shadow {
  width: 100%;
  filter: brightness(0.5); }

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001; }

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear; }

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out; }

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s; }

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg); } }
@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0); }
  50% {
    transform: scale(1); } }
.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0; }

.loaded .preloader {
  display: none; }

/*# sourceMappingURL=style.css.map */
